[package]
name = "shadeswap-shared"
version = "0.1.0"
authors = ["Tony <plutonyium@gmail.com>"]
edition = "2018"

exclude = [
  # Those files are rust-optimizer artifacts. You might want to commit them for convenience but they should not be part of the source code publication.
  "contract.wasm",
  "hash.txt",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib", "rlib"]

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
codegen-units = 1
panic = 'abort'
incremental = false
overflow-checks = true

[features]
default = []
utils = []
# for quicker tests, cargo test --lib
# for more explicit tests, cargo test --features=backtraces
backtraces = ["cosmwasm-std/backtraces"]
debug-print = ["cosmwasm-std/debug-print"]

[dependencies]
snafu = { version = "0.6.3" }
serde = { version = "1.0.103", default-features = false, features = ["derive"] }
schemars = "0.7"
cosmwasm-std = { version = "0.10", package = "secret-cosmwasm-std" }
cosmwasm-storage = { version = "0.10", package = "secret-cosmwasm-storage" }
# secret-toolkit = "0.2.0" # Uncomment this for extra tools
secret-toolkit = { version = "0.2" }
fadroma = { commit="76867e0", git = "https://github.com/hackbg/fadroma.git", features=[ ] }
snip20-reference-impl = { path = "../../contracts/snip20"}
sha2 = { version = "0.9.1", default-features = false }
subtle = { version = "2.2.3", default-features = false }
cosmwasm-math-compat = { path = "../cosmwasm_math_compat" }


[dev-dependencies]
cosmwasm-schema = "0.10.1"
