[package]
name = "shadeswap-shared"
version = "0.1.0"
authors = ["Tony <plutonyium@gmail.com>"]
edition = "2018"

exclude = [
  # Those files are rust-optimizer artifacts. You might want to commit them for convenience but they should not be part of the source code publication.
  "contract.wasm",
  "hash.txt",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib", "rlib"]

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
codegen-units = 1
panic = 'abort'
incremental = false
overflow-checks = true

[features]
default = []
utils = []

[dependencies]
snafu = { version = "0.7.1" }
serde = { version = "1.0.103", default-features = false, features = ["derive", "alloc"] }
schemars = "0.8.9"
cosmwasm-std = { git = "https://github.com/scrtlabs/cosmwasm", branch = "secret" }
cosmwasm-storage = { git = "https://github.com/scrtlabs/cosmwasm", branch = "secret" }
cosmwasm-schema = { git = "https://github.com/CosmWasm/cosmwasm", commit = "1e05e7e" }
snip20-reference-impl = { path = "../../contracts/snip20"}
sha2 = { version = "0.9.1", default-features = false }
subtle = { version = "2.2.3", default-features = false }
rand_chacha = { version = "0.2.2", default-features = false }
rand_core = { version = "0.5.1", default-features = false }
query-authentication = { git = "https://github.com/securesecrets/query-authentication", branch = "cosmwasm_v1_upgrade" }
chrono = { version = "=0.4.19" }
# shadeswap-derive-canonize = { path = "../shadeswap_derive_canonize" }

